___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>
# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: 

Python has different types of numbers (numeric literals). If the literal contains no decimal point, it is an integer. If it contains a decimal point its a floating point numbers (float). Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Strings:  

Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).


Lists:

Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

Tuples:

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

"Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.

Dictionaries:

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [7]:
8005 - ((2**3) + 2/2) * 4

7969.0

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [9]:
4 * (6 + 5)

44

In [10]:
4 * 6 + 5

29

In [11]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [12]:
# solution: floating point number
3 + 1.5 + 4

8.5

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root:
16 ** 0.5

In [15]:
# Square:
16 ** 2

256

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [17]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [21]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [23]:
s ='hello'
# Print out the 'o'

# Method 1:

s[-1]

'o'

In [22]:
# Method 2:

s[4]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [24]:
# Method 1:
[0]*3

[0, 0, 0]

In [25]:
# Method 2:
list2 = [0,0,0]
list2

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [26]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'

In [27]:
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [55]:
list4 = [5,3,4,6,1]

In [56]:
list4

[5, 3, 4, 6, 1]

In [ ]:
# METHODE 1 :

In [32]:
list4.sort()

In [33]:
list4

[1, 3, 4, 5, 6]

In [ ]:
# METHODE 2 : It does not modify the list element

In [57]:
sorted(list4)

[1, 3, 4, 5, 6]

In [58]:
list4

[5, 3, 4, 6, 1]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [38]:
d = {'simple_key':'hello'}
# Grab 'hello'

d['simple_key']

'hello'

In [40]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

d['k1']['k2']

'hello'

In [41]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello   (ps. using [0] because its a list of 1 element, so index 0)

d['k1'][0]['nest_key'][1][0]

'hello'

In [42]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}


#Phew!
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

#Solution:
No! Because normal dictionaries are *mappings* not a sequence. **

## Tuples

What is the major difference between tuples and lists?<br><br>


#solution:

**Tuples are immutable!**

How do you create a tuple?<br><br>

# Solution :

t = (1,2,3)

## Sets

What is unique about a set?<br><br>

**Answer: They don't allow for duplicate items!**

Use a set to find the unique values of the list below:

In [44]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [45]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [48]:
# PLD Bonnus infos
test = set(list5)
test

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [49]:
# Answer before running cell
2 > 3

False

In [50]:
# Answer before running cell
3 <= 2

False

In [51]:
# Answer before running cell
3 == 2.0

False

In [52]:
# Answer before running cell
3.0 == 3

True

In [53]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [54]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!